


#contenedor{
        background-color:white;
        border:2px solid white;
}
#cabecera{
        background-color:green;
        height:5%;
}
#menu{
        height:10%;
        background-color:#C8CACC;
}
#imagencoocalpro{
        height:30%;
        background-color:white;
}
#izquierda{
        height:300%;
        background-color:white;
        float:left;
        width:30%;
}

#centro{
        
        background-color:white;
        float:left;
        width:40%;

}
#imagen1{
        height:10%;
        width: 10%;
        background-color:white;
}


#derecha{
        height:50%;
        background-color:white;
        float:right;
        width:30%;
}
#pie{
        height:20%;
        background-color:green;
        clear:both;
}
#card{
    background-color: gray;
}









